 @import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
 
*{
    margin: 0;
    font-size: 22px;
}

body{
    font-family: "Barlow", sans-serif;
    color:#282b7a;
    }


.nav-bar {
    background: linear-gradient(to bottom,  rgb(158, 158, 158) 0%,rgb(224,243,250) 0%,rgb(67, 179, 254) 100%);
    width: 100%;
    position: sticky;
    top: 0;
    text-align: right;
  }

.nav-bar li {
    list-style-type: none;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.nav-bar a {
    color: #4d598e;
    text-decoration: none;
    font-weight: bold;
}
main {
    background-image: url(../images/background.jpg);
    background-size: cover;
    padding-left: 65px;
}

h1 {
    display: flex;
    font-style: oblique;
    text-decoration: underline;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}

.introduction {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#avatar {
    flex: 2;
}

#myname {
    color: #2d2f5f;
    padding-top: 20px;
}

#photo img {
    width: 40%;
    padding-top: 20px;
    border-radius: 50%;
}

#about {
    display: flex;
    flex:3;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;

}

#experience {
    > h2 {
        padding-top: 20px;
        padding-bottom: 20px;

    }
    > ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;

          > li {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            > div {
                font-weight: bold;
                display: flex;
                flex-direction: row;
                gap: 5%;
                text-decoration: ;
            }
          }
    }

}

#skills {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    padding-top: 20px;
    
    > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    padding-top: 20px;
}

#projects img {
    width: 3%;
    border-radius: 10%;
}

#contact-block {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-items: first baseline;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#contact-block img {
    width: 10%;
    border-radius: 10%;
}

footer {
    background: linear-gradient(to top,  rgb(158, 158, 158) 0%,rgb(224,243,250) 0%,rgb(1, 103, 171) 100%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

