 @import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
 
*{
    margin: 0;
    font-size: 22px;
}

body{
    font-family: "Barlow", sans-serif;
    color:#282b7a;
    width: 1440px;
    margin: auto;
    }


.nav-bar {
    background: linear-gradient(to bottom,  rgb(158, 158, 158) 0%,rgb(224,243,250) 0%,rgb(67, 179, 254) 100%);
    width: 100%;
    position: sticky;
    top: 0;
    text-align: right;
  }

.nav-bar li {
    list-style-type: none;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.nav-bar a {
    color: #4d598e;
    text-decoration: none;
    font-weight: bold;
}
main {
    background-image: url(../images/background.jpg);
    background-size: cover;
    padding: 65px;
}

#logo img{
    padding: 0;
    width: 100%;
}

.introduction {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#avatar {
    flex: 2;
}

#myname {
    color: #2d2f5f;
    padding-top: 65px;
}

#photo img {
    width: 52%;
    padding-top: 20px;
    border-radius: 50%;
}

#about {
    display: flex;
    flex:3;
    flex-direction: column;
    gap: 20px;
    padding-top: 65px;

}

#experience {
    > h2 {
        padding-top: 65px;
        padding-bottom: 20px;

    }
    > ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 20px;

          > li {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            > div {
                font-weight: bold;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 5%;
            }
          }
    }

}

#skills { 
    
    margin-top: 65px;
    
    > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    margin-top: 20px;
    }
}

#projects {
    margin-top: 65px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#contact-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 65px;
    padding-bottom: 20px;
}

#contact-block img {
    width: 10%;
    border-radius: 10%;
}

#leave-message {
    margin-top: 65px;
    margin-bottom: 20px;
    > form {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        max-width: 400px;
        gap: 10px;
        > input, textarea {
            border: 2px solid #282b7a;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 5px;
            width: 100%;
        }
        > textarea {
            min-height: 120px;
            resize: vertical;
        }
        > button {
            margin-top: 20px;
            border: 2px solid #282b7a;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 5px;
            width: 100%;
            font-family: "Barlow", sans-serif;
            font-weight: bold;
            color:#282b7a;
        }

    }
}

#messages {
    margin-top: 65px;
    max-width: 400px;
    
    > h2 {
        margin-bottom: 20px;}
        
    > ul {
        max-width: 400px;
        ;
    
        > li {
                line-break: anywhere;
                margin-top: 20px;
                padding: 10px;
                font-family: "Barlow", sans-serif;
                font-weight: bold;
                color:#282b7a;
            
        > button {
            display: block;
            margin-top: 20px;
            border: 2px solid #282b7a;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 5px;
                
            }
        }
    }
}

footer {
    background: linear-gradient(to top,  rgb(158, 158, 158) 0%,rgb(224,243,250) 0%,rgb(1, 103, 171) 100%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

