 @import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
 
*{
    margin: 0;
}

body{
    font-family: "Barlow", sans-serif;
    color:#282b7a;
    font-size: 1.7rem;
    }
.nav-bar {
    background: linear-gradient(to bottom,  rgb(158, 158, 158) 0%,rgb(224,243,250) 0%,rgb(67, 179, 254) 100%);
    width: 100%;
    position: fixed;
    top: 0;
    text-align: right;
  }

.nav-bar li {
    list-style-type: none;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

.nav-bar a {
    color: #4d598e;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
}
main {
    margin-top: 68px;
    background-image: url(../images/background.jpg);
    background-size: cover;
}

#myname {
    color: #2d2f5f;
    padding-left: 65px;
    padding-top: 60px;
}

#photo img {
    width: 25%;
    padding-top: 20px;
    padding-left: 65px;
}

#about {
    font-style: italic;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-items: first baseline;
    gap: 20px;
    padding-top: 20px;
    padding-left: 65px;
}

#experience {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    padding-top: 20px;
    padding-left: 65px;

    > ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

#contact-block {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-items: first baseline;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 65px;
}

#contact-block img {
    width: 20%;
}

footer {
    background: linear-gradient(to top,  rgb(158, 158, 158) 0%,rgb(224,243,250) 0%,rgb(1, 103, 171) 100%);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

